

header {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
}

header img {
    width: 150px;
    height: 90px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav {
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: rgba(255, 5, 5, 0.712);
}

header nav ul li:nth-child(3) {
    text-decoration: underline;
}

.breadcrumbs {
    margin: 10px 20px 10px 20px;
}

.breadcrumbs ol li {
    display: flex;
    list-style: none;
}

.breadcrumbs ol li a {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.breadcrumbs ol {
    display: flex;
    background-color: rgb(234, 226, 226);
}

.breadcrumbs ol li+li {
    margin-left: 4px;
}

.breadcrumbs ol li:not(:last-of-type)::after {
    content: '/';
    margin-left: 5px;
}

.breadcrumbs ol li:nth-child(2) {
    font-weight: bold;
}

.breadcrumbs ol li:nth-child(2) a {
    text-decoration: underline;
}

.header-paragraph {
    margin: 10px 20px 10px 20px;
}

footer {
    text-align: center;
    color: black;
    background-color: aliceblue;
    margin: 100px 20px 10px 20px;
}

.sections {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

.section1,
.section2,
.section3,
.section4 {
    border: 1px solid black;
    margin-right: 10px;
    padding: 15px 15px 15px 15px;
}

.sections section img {
    width: 250px;
    height: 150px;
    max-width: 100%;
}

.sections p {
    color: gray;
}

.sections a {
    color: rgb(19, 179, 46);
}

@media screen  and (max-device-width:667px) {
    header {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        background-color: rgb(236, 243, 238);
        justify-content: center;
        position: relative;
        display: block;
    }
    header img {
        width: 40%;
        height: 60%;
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-30%, -30%);
    }
    header nav ul {
        list-style: none;
        margin-left: -50px;
        margin-top: 50px;
    }
    header nav {
        padding-top: 150px;
        padding-bottom: 10px;
    }
    header nav ul li {
        margin-left: 10px;
        border: 2px solid black;
    }
    .sections {
        position: relative;
        display: block;
        margin-left: 10px;
    }
    .section1,
    .section2,
    .section3,
    .section4 {
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 15px 15px 15px 15px;
        left: 50%;
        top: 50%;
        text-align: center;
        
        background-color: rgb(192, 219, 245);
    }
    body {
        background-color: rgb(243, 217, 186);
    }
}
@media screen  and (max-device-width:325px) {
    header nav ul {
        display: block;
        list-style: none;
    }
    header nav ul li a{
      font-size: 10px;
    }
    .breadcrumbs ol li a {
        font-size: 10px;
        text-decoration: none;
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }
    .breadcrumbs  ol{
       padding-left: 0px;
    }
    header img {
        width: 60%;
        height: 40%;
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-30%, -30%);
    }
    body{
        margin-left: 10px;
        margin-right: -50px;
    }
    FOOTER{
        font-size: 10PX;
    }

}